* {
    margin: 0;
    padding: 0;
}

nav {
    width: 1600px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 40px;
    text-align: center;
    align-items: center;
}

.nav-title {
    display: flex;
    gap: 10px;
}

.nav-menu {
    display: flex;
    list-style: none;
    /* justify-content: space-around; */
    gap: 25px;
    font-size: 22px;
}

.nav-img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}

.banner {

    width: 1600px;
    height: 700px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 38px;
    /* text-align: center; */
    align-items: center;

}

.banner-text .banner-des {
    /* font-size: 28px; */
    color: #0B0223;

    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.banner-text .banner-h {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 95px;

    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.banner .banner-ul {
    font-size: 25px;
    margin-top: 15px;
}

.banner-text .btn-primary {
    /* 
    background-color: #F948B2;
    
    padding: 6px;
    border-radius: 12px;
     */
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    font-size: 20px;
    color: #fff;
    margin-top: 15px;
}

.banner-text .btn-secondary {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    color: #fff;
    margin-top: 15px;
    font-size: 20px;
}


.banner-head-img {
    width: 100%;
    margin-left: 400px;
}

main {
    width: 1600px;
    /* height: 600px; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 38px;
    text-align: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gammer {
    display: flex;
}

.gammer-des .gammer-h {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.gammer-des .gammer-p {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.gammer-des .btn-primary {
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    margin-left: 550px;
    color: #fff;
    margin-top: 15px;
    font-size: 20px;
}

.gammer-des .gammer-h1 {

    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 45px;
    /* 187.5% */
    color: #534C64;
    font-family: Work Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    margin-top: 15px;
}

.games-title .games-h {
    text-align: center;
    margin-top: 200px;
    margin-bottom: 8px;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.games-title .games-p {
    text-align: center;
    font-size: 20px;
    color: #534C64;
    margin-bottom: 50px;
}

.games-img {
    display: flex;
    margin-top: 200px;
    gap: 30px;
    text-align: center;
    align-items: center;
    width: 1600px;
    margin: auto;

}

.games-img p {
    margin-top: 20px;
    font-size: 20px;
    padding: 4px;
}





.play-on {
    width: 1600px;
    /* height: 130px; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 40px;
    text-align: center;
    align-items: center;
    margin-top: 100px;
}

.play .play-h {
    text-align: center;
    align-items: center;
    margin-left: 150px;
    /* margin-bottom: 100px; */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    position: relative;
    bottom: 150px;
    /* 125% */
}

.play .play-p {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    align-items: center;
    position: relative;
    bottom: 150px;
    margin-top: 10px;
    margin-left: 150px;
    /* 166.667% */
}

.play-on .play-img {
    border-radius: 8px;
    border: 10px solid #FFF;
    /* background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat; */
    /* margin-top: 100px; */
    /* margin-right: 600px; */
}



.play-img1 {
    width: 320px;
    height: 365.083px;
    flex-shrink: 0;
    margin: auto;
    text-align: center;
    align-items: center;
    position: relative;
    bottom: 210px;
    margin-right: 500px;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray 0px -0.304px / 100% 117.229% no-repeat;
}

.online {
    display: flex;
    width: 1600px;
    margin: auto;
    gap: 100px;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;

}

.online-h {
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    /* 125% */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    bottom: 150px;
}

.online-p {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    position: relative;
    bottom: 150px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 10px;
    /* 166.667% */
}

.online-img {
    width: 318px;
    height: 365px;
    flex-shrink: 0;
    position: relative;
    bottom: 210px;
    margin-left: 600px;
    border-radius: 8px;
    border: 10px solid #FFF;
    background: url(<path-to-image>), lightgray -7.209px 0px / 114.78% 100% no-repeat;
}

.sponsors {
    /* display:flex ; */
    /* display: flex; */
    width: 1600px;
    /* height: 1000px; */
    margin: auto;
    gap: 100px;
    align-items: center;
    text-align: center;
    /* justify-content: space-evenly; */
    margin: auto;
    padding: 40px;
}

.sponsors-1 {
    display: flex;
    gap: 180px;
    text-align: center;
}

.sponsors-2 {
    display: flex;
    gap: 180px;
    margin-top: 80px;
    text-align: center;
    margin-left: 100px;
}

.sports {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 22px;
}

.button {
    width: 200px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    font-size: 22px;
    color: #F948B2;
}

.footer {
     width: 1600px;
     height: 300px;
     background: ;
     background: #5b5960;
     margin: auto;
     text-align: center;
     align-items: center;
     margin-top: 120px;
     gap: 22px;
     padding: 100px;
      

}

.footer-h {
    width: 1600px;
    /* margin: auto; */
    margin-left: 700px;
    display: flex;
    text-align: center;
    font-size: 27px;
    color: #FFF;
 
    gap: 17px;
    padding-top: 15px;
}

.footer-li {
    display: flex;
    list-style: none;
    margin-left: 500px;
    margin-top: 25px;
    gap: 15px;
    font-size: 25px;
    color: #fff;
}

.footer-icon {
    display: flex;
    margin-top: 25px;
    margin-left: 750px;
    /* justify-content: space-around; */
    gap: 30px;
    f
}

.footer-p {
    display: flex;
    margin-top: 25px;
    margin-left: 500px;
    gap: 20px;
    font-size: 20px;
    color: skyblue;
    
}
.footer-d{

    margin-top: 20px;
    font-size: 16px;
    color: #fff;
}
.footer-h img{
    width: 5%%;
    height: 5%;
}

@media screen and (max-width: 576px) {
     header{
        padding: 20px;
    } 

    nav, .nav-img, .nav-menu, .nav-title, .banner,.banner-des,.banner-h,.banner-head-img,.banner-text,.banner-ul,.btn-primary,.btn-secondary,.button,.footer,.footer-d,.footer-h,.footer-icon,.footer-li,.games-h,.games-img,.games-p,.games-title,.gammer,.gammer-des,.gammer-h,.gammer-h1,.gammer-p,.online,.online-h,.online-img,.online-p,.play,.play-h,.play-img,.play-img1,.play-on,.play-p,.sponsors,.sponsors-1,.sponsors-2,.sports {
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
        
    }
    

    
